/* GERAL */
html, body {
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    color: #fff;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* ABAS */
.abas {
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    background-color: #111;
    border-bottom: 2px solid #920c0c;
}

.aba {
    padding: 10px 20px;
    background: #222;
    border: none;
    border-radius: 5px;
    color: #920c0c;
    cursor: pointer;
    font-size: 18px;
}

.aba:hover, .aba.ativa {
    background: linear-gradient(45deg, #920c0c, #550707);
    color: white;
}

/* CONTEÚDOS */
.conteudo-aba {
    padding: 20px;
    width: 95%;
    max-width: 1500px;
    margin: 20px auto;
    background: #111;
    border-radius: 20px;
}

.hidden { display: none; }

/* LOGIN */
#loginForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
}

#loginForm input {
    padding: 10px;
    font-size: 16px;
}

/* FORMULÁRIOS CADASTROS E PEDIDOS */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto 20px auto;
    gap: 10px;
}

form input, form select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #555;
    background: #222;
    color: #fff;
}

form button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #920c0c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background:#920c0c;
}

/* LISTAS */
ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

/* DASHBOARD - GALERIA */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.quadrado {
    background: #333;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 300px;
    max-width: 350px;
}

.nome-img {
    margin-bottom: 10px;
    font-size: 18px;
}

/* IMAGENS DASHBOARD */
.quadrado img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* BOLINHAS ESTOQUE */
.estoque-peças {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.andar {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.bola {
    width: 18px;
    height: 18px;
    background: grey;
    border-radius: 50%;
    border: 2px solid #fff;
}

/* AMBIENTE (Temperatura/Umidade) */
.ambiente {
    margin-top: 10px;
    font-size: 14px;
}

/* AJUSTE DE RESPONSIVIDADE */
@media (max-width: 800px) {
    .galeria {
        flex-direction: column;
        align-items: center;
    }
}
